@page "/"

<PageTitle>Index</PageTitle>
<br />
<br />
<br />
<br />
<br />
<div class="card position-absolute start-0 translate-middle-y w-100 mt-5">
    <div class="card-body">
        <div class="alert alert-success text-center" role="alert">

            <h4>
                Welcome, this app allows users to import and export CSV files.
               
                Please <a href="/customerdataimport" class="alert-link">click here</a> to continue!</h4>
           
        </div>
    </div>
</div>
